[submodule "adframeview"]
	path = adframeview
	url = https://github.com/rajgoesout/framerouteexample
[submodule "adbase-api"]
	path = adbase-api
	url = https://github.com/rajgoesout/adbase-api
[submodule "adbase-web"]
	path = adbase-web
	url = https://github.com/rajgoesout/adbase-web
[submodule "adbase-pixel"]
	path = adbase-pixel
	url = https://github.com/rajgoesout/adbase-pixel
